{% extends "myadmin/base.html" %}

{% block main_body %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        订单信息
        <small>订餐系统后台管理</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 首页</a></li>
        <li class="active">订单信息</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content container-fluid">

      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title"><i class="fa fa-calendar"></i> 订单信息表</h3>

              <div class="box-tools">
                <div class="input-group input-group-sm" style="width: 150px;">
                  <input type="text" name="table_search" class="form-control pull-right" placeholder="订单号">

                  <div class="input-group-btn">
                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
              <table class="table table-hover">
                <tr>
                  <th>ID</th>
                  <th>店铺ID</th>
                  <th>订单编号</th>
                  <th>员工ID</th>
                  <th>订单总价</th>
                  <th>当前状态</th>
                  <th>下单时间</th>
                </tr>
                {% for vo in orderlist %}
                <tr>
                  <td>{{ vo.id }}</td>
                  <td>{{ vo.shop_id }}</td>
                  <td>{{ vo.order_id }}</td>
                  <td>{{ vo.user_id }}</td>
                  <td>{{ vo.total_price }}</td>
                  <td>
                    {% if vo.status == 1 %}
                      <span style="color:green">已完成</span>
                    {% elif vo.status == 2 %}
                      <span style="color:red">待做</span>
                    {% elif vo.status == 3 %}
                      <span style="color:red">取消订单</span>
                    {% elif vo.status == 9 %}
                      <span style="color:red">已删除</span>
                    {% else %}
                      <span style="color:red">未知状态</span>
                    {% endif %}
                  </td>
                  <td>{{ vo.create_at }}</td>
                </tr>
                {% endfor %}
              </table>
            </div>
            <!-- /.box-body -->
            <div class="box-footer clearfix">
                <ul class="pagination pagination-sm no-margin pull-right">
                    <li><a href="{% url 'myadmin_order_index' pIndex|add:-1 %}?{{mywhere|join:'&'}}">&laquo;</a></li>
                    {% for p in plist %}
                    <li {% if p == pIndex %}class="active"{% endif %}><a href="{% url 'myadmin_order_index' p %}?{{mywhere|join:'&'}}">{{p}}</a></li>
                    {% endfor %}
                    <li><a href="{% url 'myadmin_order_index' pIndex|add:1 %}?{{mywhere|join:'&'}}">&raquo;</a></li>
                </ul>
            </div>
          </div>
          <!-- /.box -->
        </div>
      </div>

    </section>
    <!-- /.content -->
{% endblock %}